*{
  margin:  0;
  padding:  0;
    box-sizing:border-box;
    
}

.navbar{
 
  background:#223A5E;
  color: whitesmoke;
  position: fixed;
  top: 0; 
  z-index: 99;
  width: 100%;
 
 /* margin-bottom: 100px;*/
}
/* .hamburger{
  padding: 1rem;
  margin-bottom: 10px;
} */

.navbar ul{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:large;
  list-style-type: none;

  display: flex; 
  /* justify-content: flex-end; */
 padding: 0.5rem; 
/* margin-bottom: 10px; */
  /* justify-content: space-around; */
  
}
.navbar ul li{
  cursor: pointer;
  flex: auto;
  text-align:center;
 
  /* padding: 1rem;
  
display: flex; */

} 
.navbar ul li:hover{
  background-color:#4F84C4;
  color: #223A5E;;
}
.navbar ul li a{
  color:whitesmoke;
  text-decoration: none;
  
}
.navbar ul li a:hover{
  color:#223A5E;
}

.about{
  width: 100%;
  min-height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4F84C4;
 }
.container{

    width: 90%;
  max-width:1000px;
  margin: 0 auto;
  display: flex;
  justify-content:center;
  align-items: center;
}
.left{
  width: 50%;
  height: 600px;
  background-color: lightgray;
  border-radius: 8px;
  margin: 50px 20px;
}
img{
  display: flex;
  justify-content: center;
  align-items: center;
 height: 600px;
 margin-bottom: -50px;
padding:70px 70px;
border-radius: 50px;
 
}
.left h1{
position: relative;
margin-left: 130px;
font-weight:bolder;
font-size: 30px;
}
.right{
  width: 50%;
  height: 400px;
 display:flex;
  align-items: center;
  justify-content: center;
 
background:lightgray;
  border-radius: 8px;
  padding: 30px;
  margin-left: -150px;
    
}
.right h2{
  font-size: 40px;
  font-weight: lighter;
}
.right p{
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}
#experience {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
 
  
}
.exp{
    
  width: 100%;
  height: 100vh;
  background-color:#92B6D5;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 50px;

  }
  .exp ul {
       display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .exp ul li{
    display: flex;
 justify-content: center;
 align-items: center;
    width: 500px;
    margin: 5px;
    /* border: 3px solid black; */
    background-color: #4F84C4;
    list-style-type: none;
    color:white;
  }
.exp h2{
   
    
      font-family: 'Merriweather', sans-serif;
      font-weight:bold;
      font-weight: 800;
   
   text-align: center;
  }
  #skills{
    background-color:#92B6D5;
    width: 100%;
    height: 200px;
    margin: 10px 0;
    padding: 50px;

  }
  #skills ul{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding:10px; */
  
  }
  #skills ul li{
    display: flex;
    justify-content: center;
    align-items: center;
       width: 100%;
        margin:10px; 
       /* border: 3px solid black; */
       background-color: #4F84C4;
       list-style-type: none;
       color:white;
     
  }
  #skills h2{
    font-family: 'Merriweather', sans-serif;
      font-weight:bold;
      font-weight: 800;
      text-align: center;
  }
  #project{
    background-color:#92B6D5;
    width: 100%;
    height: 100vp;
    margin: 10px 0;
    padding: 50px;
  }
  #project ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
  }
  #project h2{
    font-family: 'Merriweather', sans-serif;
      font-weight:bold;
      font-weight: 800;
      text-align: center;
  }
  #project ul li{
    display: flex;
    justify-content: center;
    align-items: center;
       width: 30%;
        margin:10px; 
       /* border: 3px solid black; */
       background-color: white;
       list-style-type: none;
       text-decoration: none;
       
     
  }

  .message-area{
    background-color:#92B6D5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    text-align: center;
  }
  .message-area h2 {
    font-family: 'Merriweather', serif;
    font-weight:bold;
    width: 100%;
    margin:10px;
  }
  #messages {
    background-color: #92B6D5;
   margin:5px;
    width: 100%;
    text-align: center;
    color:black;

  }
  .border {
    font-family: "Roboto", sans-serif;
  
    background-color: #4F84C4;
    border: 5px solid lightblue;
    border-radius: 30px;
    /* width: 300px; */
    text-align: center;
    margin:20px;
    padding: 25px;
    
  }
  .border input{
    border-radius: 20px;
    height: 30px;
  }
  .border textarea{
    border-radius: 20px;
    height: 80px;
    
  }
  .border button{
    border-radius: 20px;
    height: 50px;
    width: 90px;
    background-color: rgb(70, 69, 65);
    color:#4F84C4;
    font-size: 20px;
    font-weight: bold;
  }
  footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #223A5E;
    color: white;
    text-align: center;
  }
  
  
  footer ul i{
    color:whitesmoke;
  } 
  footer ul a {
    color: whitesmoke;
    padding: 0 10px;
  }  
 
  @media only screen and ( max-width:  400px){
    .navbar ul{
      flex-direction:  column;
      align-items: center;
      

    }
    .navbar ul li {
      text-align: center;
    }
    .about{
     margin-right: 50px;
    }
    .about img{
     margin-top: 100px;
    }
    #skills ul{
      padding: 0 5px;
  
    }
    /* .about{
/* display:flex; */
    } */
    #project ul li {
     
      width:100%;
    }
       
      
   
  


@media only screen and ( max-width:  768px){
  .container{
    flex-direction: column;
    width:  100%;
    margin:  0 20px;
  }
  .navbar ul li{
    padding-left: 10px;

  }
  .left{
    width: 100%;

  }
  .right{
    width: 80%;
    margin: 0;
    margin-top: -100px;
  }
  .exp ul {
    flex-direction: column;
  }
#skills ul{
  flex-direction: column;
}
#project ul li {
     
  width:60%;
}
   
.about img{
  width: 100%
}
}