*{
  margin:0;
  padding:0;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("/img/pic.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  overflow-y: hidden;
}

.topnav{
  overflow:hidden;
  background-color:#008B8B;
}
.topnav a {
  float:  right;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:17px;
  color:whitesmoke;
  font-weight: 600;
  display:block;
  }
.topnav a:hover {
  background-color: #381dd3;
   color: white;
}
.topnav a.active {
  background-color: blue;
  color:teal;
}
.topnav .icon{
  display: none;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: teal;
  color: white;
  text-align: center;
}


footer ul i{
  color:mediumblue;
} 
footer ul a {
  color: whitesmoke;
  
}  



  
@media screen and (max-width: 600px){
  .topnav a:not(:first-child){display:none;}
  .topnav a.icon{
    float: right;
    display:block;
  }
}
@media screen and (max-width: 600px){
  .topnav.responsive {
    position:relative;}
    .topnav.responsive a.icon{
      position:absolute;
      right:0;
      top:0;
    }
    .topnav.responsive a{
      float: none;
      display: block;
      text-align: left;
    }

  
}
main img{
  margin: 100px auto;
margin-left: 200px;
}