body{
    background-color:cadetblue;
}

    .about {
  
        font-family:Arial,helvetica, sans-serif;
        font-style:italic;
        font-size: 16px;
        text-transform:capitalize;
        text-align: center; 
      }
      .img {
        text-align: center;
        width: 200px;
        height: 200px;
        margin-left: 90px;
        
      }