/* #experience {
    text-align: center;
  }
  #experience h1{ 
    font-family: 'Merriweather', serif;
    font-weight:bold; }
  #experience ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    width:100px;
    height: 100px;
    text-decoration: none;
    list-style: none;
    border: 1px solid black;
    background-color: #008B8B;
   
  }
  #experience ul{
    display: inline-block;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
  } */
  body{
    background-image: url("/img/856.jpg");
  }
  #experience{
    
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
  }
  .exp h1{
   
    
      font-family: 'Merriweather', sans-serif;
      font-weight:bold;
      font-weight: 800;
   
   text-align: center;
  }
  .exp li{
    background-color: cadetblue;
    
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    padding:30px;
    margin: 30px;
    
    display:inline-block;
    width:300px;
  height: 400px;
  text-decoration: none;
  list-style: none;
  border: 1px solid black;
  background-color: #008B8B;
  margin:30px;
  
  border-radius: 20px;
  }
