*{
  margin: 0;
  padding: 0;
}
body{
    background-image: url("/img/856.jpg");
}
.message-area {

  
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top:100px;
    text-align: center;
  }
  .message-area h2 {
    font-family: 'Merriweather', serif;
    font-weight:bold;
    width: 100%
  }
  #messages {
    background-color: #008B8B;
    
    width: 100%;
  }
  .border {
    font-family: "Roboto", sans-serif;
  
    background-color: #008B8B;
    border: 5px solid lightblue;
    border-radius: 30px;
    width: 300px;
    text-align: center;
    margin: 0;
    padding: 25px;
  }
  .border input{
    border-radius: 20px;
    height: 30px;
  }
  .border textarea{
    border-radius: 20px;
    height: 80px;
    
  }
  .border button{
    border-radius: 20px;
    height: 50px;
    width: 90px;
    background-color: rgb(70, 69, 65);
    color:#008B8B;
    font-size: 20px;
    font-weight: bold;
  }
  .topnav{
    overflow:hidden;
    background-color:#008B8B;
  

  }
  .topnav a {
    float:  right;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:17px;
    color:whitesmoke;
    font-weight: 600;
    display:block;
    }
  .topnav a:hover {
    background-color: #381dd3;
     color: white;
  }
  .topnav a.active {
    background-color: blue;
    color:teal;
  }
  .topnav .icon{
    display: none;
  }